[Unit]
Description=Vault

[Service]
User=root
Restart=always
ExecStart={{ vault_install_path }}/vault server -config={{ vault_configuration_path }}

[Install]
WantedBy=multi-user.target
